Update readme "example.com"

The second example in the readme is using a "@example.com", which is no longer valid when using DNS validation. I don't know what alternative topdomain to use, hence no PR.

Feedback for the future: Your latest release makes "@example.com" domains invalid using DNS validation. It's a backwards incompatible change that should have been released in a [major version change and not patch version](https://semver.org/).

Hi @Ekman , thanks for pointing that out. 
It is true that @example.com is no longer valid, as the DNS validation got an improvement to do a better job. This means that @example.com has always been _invalid_ for that matter.
For that reason it was released as a patch and not a minor version (no new feature added).

So you are right, the example is wrong. If you look at the tests changes from #250 you'll see that we are now using iana emails. 
I'll be more than happy to merge a PR with the changes.

Thanks for reporting!

FWIW, upgrading to Laravel 8 caused all my tests (that use `example.com`) to start failing. 😕 

[RFC6761 §6.2](https://tools.ietf.org/html/rfc2606#section-2) should clarify things up a bit.

@Ekman For the readme, maybe `@domain.example` should be better?

@reinink In my tests I would use `@domain.test`, or something similar to `*.test`.

@sebdesign Hey thanks for the suggestion!

@reinink Ok actually I'm wrong, `dns_get_record()` does not work with `.test` domains. I don't know what's the best alternative here.

If we want to test that a domain is DNS-valid, then we should use a valid domain in our tests.
If we do not care about that, we should be able to fake the `DNSCheckValidator` in our tests. Is that possible in Laravel?

Thanks for the update.

I agree, that's the way to fix it for sure. Not sure if it's possible in Laravel, I'll have to test. 👍 