Invalid email is valid if strict: true 

Invalid email **email@gmail** is valid if **strict: true**
```
email:
    - Email:
        groups:  [user_register]
        message: Email {{ value }} is not valid
        strict: true
        checkMX: true
        checkHost: true
```

Hi @rud-felix `email@gmail` is a valid email according to [RFC 5321 section 2.3.5](http://www.rfcreader.com/#rfc5321_line550)